.profile-block {
    float: right;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    padding: 0 20px;
    margin-top: -20px;
}

.profile-block img {
    width: 40px;
    height: 40px;
}